<<<<<<< HEAD
body{
    background-color: #7f00b2;
}

.bg-custom-purple {
    background-color: #4c007d !important;
}


.navbar-brand,
.navbar-nav .nav-link,
.nav-link {
    color: #ff29db; /* Cambia el color del texto del Navbar */
    padding-left: 3%;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover,
.nav-link:hover{
    color: #ffffff; /* color texto al pasar el mouse */
}



.search-form {
    background-color: #f988ff; /* Cambia el color de fondo según tu preferencia */
    border-radius: 5px; /* Añade bordes redondeados al marco */
    padding: 5px 10px; /* Añade un poco de espacio dentro del marco */
}


/* -------------- Marco -------------- */
.anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime {
    width: 150px; /* Ancho del rectángulo */
    display: inline-block; /* Permitir que el tamaño del rectángulo se ajuste al contenido */
    margin: 10px; /* Espacio entre los rectángulos */
    border: 1px solid #ddd; /* Borde del rectángulo */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier contenido que desborde */
    background-color:#f988ff
}

.anime img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    max-height: calc(100% - 30px); /* Limita el tamaño máximo de la imagen y deja espacio para el título */
}

.anime-name {
    text-align: center; /* Centra el nombre del anime */
    margin: 10px 0; /* Espacio entre la imagen y el nombre */
}

.anime-description {
    color: #000; /* Cambia el color del texto a negro */
}


.anime-name {
    color: #000; /* Cambia el color del texto a negro */
    text-decoration: none; /* Elimina la decoración de texto */
}

.anime-name:hover {
    text-decoration: none; /* Elimina la decoración de texto en hover */
}

/* -------------- Marco -------------- */


.carousel-item iframe {
    border: 4px solid #000; /* Grosor del borde */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #242020;
}

=======
body{
    background-color: #7f00b2;
}

.bg-custom-purple {
    background-color: #4c007d !important;
}


.navbar-brand,
.navbar-nav .nav-link {
    color: #ff29db; /* Cambia el color del texto del Navbar */
    padding-left: 3%;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #ffffff; /* color texto al pasar el mouse */
}



.search-form {
    background-color: #f988ff; /* Cambia el color de fondo según tu preferencia */
    border-radius: 5px; /* Añade bordes redondeados al marco */
    padding: 5px 10px; /* Añade un poco de espacio dentro del marco */
}


/* -------------- Marco -------------- */
.anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime {
    width: 250px; /* Ancho del rectángulo */
    display: inline-block; /* Permitir que el tamaño del rectángulo se ajuste al contenido */
    margin: 20px; /* Espacio entre los rectángulos */
    border: 1px solid #ddd; /* Borde del rectángulo */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier contenido que desborde */
    background-color:#f988ff
}

.anime img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    max-height: calc(100% - 30px); /* Limita el tamaño máximo de la imagen y deja espacio para el título */
}

.anime-name {
    text-align: center; /* Centra el nombre del anime */
    margin: 10px 0; /* Espacio entre la imagen y el nombre */
}

.anime-description {
    color: #000; /* Cambia el color del texto a negro */
}


.anime-name {
    color: #000; /* Cambia el color del texto a negro */
    text-decoration: none; /* Elimina la decoración de texto */
}

.anime-name:hover {
    text-decoration: none; /* Elimina la decoración de texto en hover */
}

/* -------------- Marco -------------- */


.carousel-item iframe {
    border: 4px solid #000; /* Grosor del borde */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #242020;
}

>>>>>>> d8a593e77eb629b97c797cdeabd42ed199d448cd
