body{
    background-color: #252725;
    color: white;
}

.bg-custom-purple {
    background-color: #474747 !important;
}


/* -------------- Navbar -------------- */

.navbar-brand,
.navbar-nav .nav-link,
.nav-link {
    color: #6ac6e2;
    padding-left: 3%;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover,
.nav-link:hover{
    color: white;
}

.dropdown-item:hover {
    background-color: transparent;
    color: white;
}

.dropdown-menu{
    background-color: #474747;
}

.dropdown-item{
    color: #6ac6e2;
}

.search-form {
    background-color: #6ac6e2;
    border-radius: 5px;
    padding: 5px 10px;
}

/* -------------- Navbar -------------- */
/* -------------- Marco -------------- */
.anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime {
    width: 150px;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color:#6ac6e2;
}

.anime img {
    width: 100%;
    height: 250px;
    max-height: calc(100% - 28px); /* Limita el tamaño máximo de la imagen */
}

.anime-name {
    text-align: center;
    margin: 10px 0;
}

.anime-description {
    color: #000;
}


.anime-name {
    color: #000;
    text-decoration: none;
    text-overflow: ellipsis;
}

.anime-name:hover {
    text-decoration: none;
}

/* -------------- Marco -------------- */

.carousel-item iframe {
    border: 4px solid #000;
    border-radius: 10px;
    background-color: #242020;
}

.cositas{
    padding-top: 10%;
    padding-bottom: 10%;
}

.titulo-ver{
    color: white;
}

/* -------------- Index asdasdasd -------------- */

.index-category h2 {
    color: #ffffff;
    font-size: 24px;
    margin: 0; 
    align-self: center; 
}


.container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr)); 
}

.carousel-item {
    border: 1px solid #ddd; /* Borde para cada elemento */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Para que la imagen no se desborde */
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .carousel {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Mejora la experiencia de desplazamiento en dispositivos táctiles */
    }

    .carousel-item {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: 10px; /* Espacio entre elementos */
    }
}


/* -------------- Animes -------------- */
.container {
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.titulo-ver h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.controls {
    margin-top: 20px;
}

.controls button {
    margin-right: 10px;
}
/* -------------- Animes -------------- */