body{
    background-color: #252725;
}

.bg-custom-purple {
    background-color: #474747 !important;
}


/* -------------- Navbar -------------- */

.navbar-brand,
.navbar-nav .nav-link,
.nav-link {
    color: #6ac6e2;
    padding-left: 3%;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover,
.nav-link:hover{
    color: #ffffff;
}

/* -------------- Navbar catalogo -------------- */
.dropdown-menu .dropdown-item:hover {
    background-color: transparent; /* O el color que desees */
    color: #ff0000; /* Color de texto deseado */
}

.dropdown-menu .dropdown-item:focus {
    background-color: transparent; /* O el color que desees */
    color: #06ff1b; /* Color de texto deseado */
}

.dropdown-menu .dropdown-item.active {
    background-color: transparent; /* O el color que desees */
    color: #d0ff00; /* Color de texto deseado */
}
/* -------------- Navbar catalogo -------------- */

.search-form {
    background-color: #6ac6e2;
    border-radius: 5px;
    padding: 5px 10px;
}

/* -------------- Navbar -------------- */
/* -------------- Marco -------------- */
.anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime {
    width: 150px;
    display: inline-block; /* Permitir que el tamaño del rectángulo se ajuste al contenido */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden; /* Oculta cualquier contenido que desborde */
    background-color:#6ac6e2
}

.anime img {
    width: 100%;
    height: auto;
    max-height: calc(100% - 30px); /* Limita el tamaño máximo de la imagen */
}

.anime-name {
    text-align: center;
    margin: 10px 0;
}

.anime-description {
    color: #000;
}


.anime-name {
    color: #000;
    text-decoration: none;
}

.anime-name:hover {
    text-decoration: none;
}

/* -------------- Marco -------------- */


.carousel-item iframe {
    border: 4px solid #000;
    border-radius: 10px;
    background-color: #242020;
}


.cositas{
    padding-top: 10%;
    padding-bottom: 10%;
}

.titulo-ver{
    color: white;
}
